<div>
    <div>
        <div class="main">
            <div class="container">
                <nav class="navbar">
                    <div class="logo">
                        <img src="assets/images/squillion-logo-black.png" alt="" class="navlogo" />
                    </div>

                    <div class="nav-links" style="color: #838383">
                        <input type="checkbox" id="checkbox_toggle" />
                        <label for="checkbox_toggle" class="hamburger">&#9776;</label>

                        <ul class="menu">
                            <li class="flex align-items-center headerList">
                                <p>Home</p>
                            </li>
                            <li class="flex align-items-center headerList">
                                <p (click)="scrollDown()">Contact Us</p>
                            </li>
                            <li class="flex align-items-center headerList">
                                <a href="https://kalantak.com/">Go to our official website</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>

    <div>
        <div style="padding-top: 95px" class="bg-img">
            <div class="container">
                <div class="flex xl:flex-row lg:flex-row md:flex-row sm:flex-column flex-column md:p-4 p-4">
                    <div class="xl:col-6">
                        <div class="px-4">
                            <div>
                                <h2 class="lg:text-5xl sm:text-3xl">
                                    Front end Framework For
                                    <span style="color: #eb5c2a">
                                        Web Development</span>
                                </h2>
                            </div>
                            <div class="my-4">
                                <p class="text-xl" style="color: #808080">
                                    If you’re wondering what front-end
                                    frameworks are and why we need them, here
                                    Selecting the Best Front-End Framework for
                                    Your Next Product in 2022
                                </p>
                            </div>
                            <div class="flex flex-wrap">
                                <div class="px-4 py-2">
                                    <img src="assets/images/technology/angular.png" alt="" class="img-size" />
                                </div>
                                <div class="px-4 py-2">
                                    <img src="assets/images/technology/primeng.png" alt="" class="img-size" />
                                </div>
                                <div class="px-4 py-2">
                                    <img src="assets/images/technology/d3.png" alt="" class="img-size" />
                                </div>
                                <div class="px-4 py-2">
                                    <img src="assets/images/technology/highchart.png" alt="" class="img-size" />
                                </div>
                                <div class="px-4 py-2">
                                    <img src="assets/images/technology/ngrx.png" alt="" class="img-size" />
                                </div>
                                <div class="px-4 py-2">
                                    <img src="assets/images/technology/powerbi.png" alt="" class="img-size" />
                                </div>
                                <div class="px-4 py-2">
                                    <img src="assets/images/technology/electron.png" alt="" class="img-size" />
                                </div>
                                <div class="px-4 py-2">
                                    <img src="assets/images/technology/express.png" alt="" class="img-size" />
                                </div>
                                <div class="px-4 py-2">
                                    <img src="assets/images/technology/node.png" alt="" class="img-size" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="xl:col-6">
                        <div class="px-4">
                            <img style="max-width: 100%" src="assets/images/Screen/cover.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div style="background-color: #2974d4 !important" class="bg-color">
            <div class="md:py-8 py-4">
                <div class="container">
                    <div class="flex xl:flex-row lg:flex-row md:flex-row sm:flex-column flex-column">
                        <div class="xl:col-6 lg:col-6">
                            <div class="px-4">
                                <img style="max-width: 100%" src="assets/images/Screen/result.png" alt="" />
                            </div>
                        </div>

                        <div class="xl:col-6 lg:col-6">
                            <div class="md:p-8 p-4 text-white text-lg">
                                <div>
                                    <p class="lg:text-6xl sm:text-4xl text-3xl text-white font-semibold">
                                        Angular-13 Dashboard
                                    </p>
                                </div>
                                <div>
                                    <p>
                                        This paroject is based on dashboard type
                                        which is provide the data
                                        visualizationand also crud operation
                                        using static reactive form and dynamic
                                        reactive form.
                                    </p>
                                    <p>
                                        In this project we used primeng for
                                        components uses,D3.js,Hight-chatt for
                                        data visualization. Also used Ngrx for
                                        store procedure, Electron for desktop
                                        apk.
                                    </p>
                                </div>
                                <div class="text-center md:my-6 my-3">
                                    <button class="DemoBtn cursor-pointer" (click)="onClick()">
                                        Go To Demo
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div>
            <div class="md:py-8 py-4">
                <div class="container">
                    <div class="text-lg text-center md:px-8 px-4">
                        <div>
                            <p class="lg:text-6xl sm:text-4xl text-3xl font-semibold">
                                Angular-13 Dashboard
                            </p>
                        </div>
                        <div>
                            <p>
                                You can dowanload .exe file for windows, .deb &
                                .rpm file for linux and ubuntu and .dmg file for
                                mac.
                            </p>
                            <p>
                                Click on download arrow button to download
                                application file.
                            </p>
                        </div>
                    </div>

                    <div class="grid justify-content-evenly md:py-6 py-3">
                        <div class="button">
                            <div class="download">
                                <div class="Logo">
                                    <img src="assets/images/windows-logo.png" alt="" class="Logo" />
                                </div>
                                <button class="winmacButtonStyle" (click)="downloadFile('win')">
                                    <img src="assets/images/white-download.svg" alt="" width="18px" height="18px"
                                        class="relative mr-2" />
                                    Windows
                                    <small class="buttonText">
                                        Windows 8,10,11</small>
                                </button>
                            </div>
                        </div>

                        <div class="button">
                            <div class="download">
                                <div class="Logo">
                                    <img src="assets/images/linux-logo.png" alt="" class="Logo" />
                                </div>
                                <div class="text-center">
                                    <button class="linuxButtonStyle" (click)="downloadFile('linux')">
                                        <img src="assets/images/white-download.svg" width="18px" height="18px"
                                            class="relative mr-2" />
                                        Linux
                                        <small class="buttonText">AppImage</small>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="button">
                            <div class="download">
                                <div class="Logo">
                                    <img src="assets/images/apple-logo.svg" alt="" class="Logo" />
                                </div>
                                <button class="winmacButtonStyle" (click)="downloadFile('mac')">
                                    <img src="assets/images/white-download.svg" alt="" width="18px" height="18px"
                                        class="relative mr-2" />
                                    Mac
                                    <small class="buttonText">
                                        .dmg</small>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div style="background-color: #263238 !important" class="bg2-color">
            <div class="md:py-8 py-4">
                <div class="container">
                    <div class="flex xl:flex-row lg:flex-row md:flex-row sm:flex-column flex-column">
                        <div class="xl:col-6 lg:col-6">
                            <div class="md:p-8 p-4 text-white text-lg">
                                <div>
                                    <p class="lg:text-6xl sm:text-4xl text-3xl text-white font-semibold">
                                        Angular-13 Dashboard
                                    </p>
                                </div>
                                <div>
                                    <p>
                                        This paroject is based on dashboard type
                                        which is provide the data
                                        visualizationand also crud operation
                                        using static reactive form and dynamic
                                        reactive form.
                                    </p>
                                    <p>
                                        In this project we used primeng for
                                        components uses,D3.js,Hight-chatt for
                                        data visualization. Also used Ngrx for
                                        store procedure, Electron for desktop
                                        apk.
                                    </p>
                                </div>
                                <div class="text-center md:my-6 my-3">
                                    <button class="DemoBtn3 cursor-pointer">
                                        Go To Demo
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="xl:col-6 lg:col-6">
                            <div class="px-4">
                                <img style="max-width: 100%" src="assets/images/Screen/result.png" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <footer>
            <div class="surface-900">
                <div class="container lg:p-5 sm:p-4 p-3 border-bottom-1 border-white">
                    <div class="flex flex-wrap justify-content-between">
                        <div class="lg:col-4 sm:col-7 my-5">
                            <div>
                                <img src="assets/images/squillion-logo-white.png" alt="" class="footerlogo" />
                            </div>
                            <div class="py-2">
                                <p class="text-500 text-lg">
                                    We offers and provides a wide assortment of
                                    business startup consulting services for
                                    different organizational sectors in all
                                    around the world. The offering covers up
                                    everything including financial strategy,
                                    risk management, and organizational setups
                                </p>
                            </div>
                            <div class="py-2">
                                <div>
                                    <span class="mr-4">
                                        <a aria-label="facebook"
                                            href="https://hi-in.facebook.com/kalantaktechnologyllp"><i
                                                class="pi pi-facebook" style="font-size: 2rem"></i></a>
                                    </span>

                                    <span class="mr-4">
                                        <a aria-label="linkedin"
                                            href="https://in.linkedin.com/company/kalantak-technology"><i
                                                class="pi pi-linkedin" style="font-size: 2rem"></i></a>
                                    </span>
                                    <span>
                                        <a aria-label="instagram"
                                            href="https://www.instagram.com/kalantaktechnologyllp/?hl=en"><i
                                                class="pi pi-instagram" style="font-size: 2rem"></i></a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="lg:col-2 sm:col-4 my-5">
                            <div>
                                <p class="text-white text-xl">Services</p>
                            </div>
                            <div class="py-3">
                                <p>
                                    <a class="text-white text-lg" href="https://kalantak.com/e-scooter-app-development/"
                                        target="_blank">
                                        Mobile App Development</a>
                                </p>
                                <p>
                                    <a class="text-white text-lg" href="https://kalantak.com/web-design-development/"
                                        target="_blank">
                                        E-Scooter App developmentt</a>
                                </p>
                                <p>
                                    <a class="text-white text-lg" href="https://kalantak.com/e-scooter-app-development/"
                                        target="_blank">
                                        Web Design & Development</a>
                                </p>
                                <p>
                                    <a class="text-white text-lg" href="https://kalantak.com/iot-integration/"
                                        target="_blank">
                                        IOT Integration</a>
                                </p>
                                <p>
                                    <a class="text-white text-lg" href="https://kalantak.com/ui-ux-design/"
                                        target="_blank">
                                        Ui-Ux Design</a>
                                </p>
                                <p>
                                    <a class="text-white text-lg" href="https://kalantak.com/on-demand-app-development/"
                                        target="_blank">
                                        On-Demand App Development</a>
                                </p>
                            </div>
                        </div>
                        <div class="lg:col-2 sm:col-4 my-5">
                            <div>
                                <p class="text-white text-xl">
                                    Our Thechnology
                                </p>
                            </div>
                            <div class="py-3">
                                <div class="my-2">
                                    <span>
                                        <span class="text-white text-lg" target="_blank">
                                            Angular
                                        </span>
                                    </span>
                                    <span class="text-white text-lg">,</span>
                                    <span>
                                        <span class="text-white text-lg" target="_blank">
                                            Primeng
                                        </span>
                                    </span>
                                </div>
                                <div class="my-2">
                                    <span><span class="text-white text-lg" target="_blank">
                                            D3.js
                                        </span>
                                    </span>
                                    <span class="text-white text-lg">,</span>
                                    <span>
                                        <span class="text-white text-lg" target="_blank">
                                            High-chart
                                        </span>
                                    </span>
                                </div>
                                <div class="my-2">
                                    <span>
                                        <span class="text-white text-lg" target="_blank">
                                            Ngrx
                                        </span>
                                    </span>
                                    <span class="text-white text-lg">,</span>
                                    <span>
                                        <span class="text-white text-lg" target="_blank">
                                            PowerBi
                                        </span>
                                    </span>
                                </div>
                                <div class="my-2">
                                    <span>
                                        <span class="text-white text-lg" target="_blank">
                                            Electron
                                        </span>
                                    </span>
                                    <span class="text-white text-lg">,</span>
                                    <span>
                                        <span class="text-white text-lg" target="_blank">
                                            ExpressJS
                                        </span>
                                    </span>
                                </div>
                                <div class="my-2">
                                    <span>
                                        <span class="text-white text-lg" target="_blank">
                                            NodeJs
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="lg:col-2 sm:col-4 my-5">
                            <div>
                                <p class="text-white text-xl">Contact US</p>
                            </div>
                            <div class="py-5">
                                <p class="text-white text-lg">
                                    301, Shreenathji Icon, Mota varachha, Surat,
                                    Gujarat.
                                </p>
                                <a href="https://squillion.tech/" class="text-white text-lg">
                                    squillion.tech
                                </a>
                                <p class="text-white text-lg mt-3">
                                    +91 73591 06405
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container text-center">
                    <p class="text-white py-5">
                        2022 Squillion Technology LLP . All Rights Reserved.
                    </p>
                </div>
            </div>
        </footer>
    </div>
</div>
